.honolulu-text{
    font-size: 14px;
    color: white;
}

.honolulu-text .btn {
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 5px;
} 
.convocatoria-oradores{
    text-align: center;
    padding-top: 1.5rem;
}

.div-orador{
    font-size: 14px;
}

.text-convocatoria{
    font-size: 13px;
}

.formulario{
    padding-top: 5px;
    margin: 0 auto;
    width: 50%;
}

.texto-area{
    font-size: 12px;
}

.formulario button {
    width: 100%;
    border: none;
    font-size: 18px;
    background-color: #7fc33b !important;
    color: whitesmoke;
}
@media screen and (max-width: 910px){
    .formulario{
        padding-top: 5px;
        margin: 0 auto;
        width: 90%;
    }
}