.row-group{
    align-items: center;
    padding: 0 10%;
    justify-content: center!important;
}

.grupo-tickets{
    
    margin-top: 4rem;

}

.total-pagar{
    font-weight: 600 !important;
    background-color: #cee4ee !important;
}

.card-tickets {
    text-align: center;
    padding: 1rem;
}

.card-tickets:hover{
    transform: scale(0.9);
    transition: 0.8s linear;
    background-color: rgb(221, 218, 218);
}

.card-tickets-estudiante{
    border: solid 1px rgb(41, 128, 234) !important;
}

.card-tickets-trainee{
    border: solid 1px rgb(17, 150, 216) !important;
}

.card-tickets-junior{
    border: solid 1px rgb(225, 192, 28) !important;
}

